:root {       /*Custom properties O variables en CSS*/
    --primario: #001B48;    /*stratos*/       
    --secundario: #02457A;  /*regal blue*/
    --terciario: #018ABE;   /*bondi blue*/
    --cuarto: #97CADB;      /*morning glory*/
    --quinto: #D6E8EE;      /*botticelli*/
    --blanco: #FFFFFF;      /*blanco*/
    --negro: #000000;       /*negro*/
    --blanco2: #E1E0E0;
    --gris: #DFDFDF;
    --gris2: #C1C1C1;
    --amarillo: #FFE572;
    --amarillo2: #FFD51A;
    --amarillo3: #FFC61A;
    --rojo: #B60020;
    --rojo2: #F35A75;
}

html{
    font-size: 62.5%;/*Se reinicia el doc html*/
    box-sizing: border-box; /*Para no tener tanto problema con el padding*/
}

*, *:before, *:after {
    box-sizing: inherit;
}


body{
    margin: 0;
    background-color: var(--cuarto);
    font-family: 'Quicksand', sans-serif;
}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.navigation ul{
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    transition: all 0.2s linear;
    border-radius: 10px ;
    padding: 0.5rem 1rem;
}

    .navigation ul li a:hover{
        background: var(--terciario) ;
    }

h1{
    margin-left: 2%;
    color: var(--blanco);
    font-size: 25px;
}

h2{
    color: var(--blanco);
    font-size: 20px;
}

a{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: var(--blanco);
    text-decoration: none;
}

.header{
    background-color: var(--secundario);
    display: flex;
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    /* margin-top: 100px; */
    color: var(--blanco);
}

.text p{
    margin-left: 2%;
}

.strings{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

@media (min-width: 480px) {
    .strings{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 45px;  
    }
}

.boton {
	box-shadow: 3px 5px 0px 0px #899599;
	background:linear-gradient(to bottom, #ffed64 5%, #ffab23 100%);
	background-color:#ffed64;
	border-radius:16px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color: var(--primario);
	font-family: 'Quicksand', sans-serif;
	font-size:18px;
	font-weight:bold;
	padding:10px 42px;
    margin: 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffed66;
}
.boton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffed64 100%);
	background-color:#ffab23;
}
.boton:active {
	position:relative;
	top:1px;
}



.entrada-texto{
    background-color: var(--blanco2);
    width: 250px;
    height: 35px;
    margin-top: auto;
    margin: 10px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: var(--negro);
    border-radius: .5rem; /*Para tener las esquinas redondeadas*/
    border: none;
}


.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;

}
.contenedor-codigos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--cuarto);
    padding: 45px;  
    
}

@media (min-width: 480px) {
    .contenedor-codigos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--cuarto);
        padding: 45px;  
    }
}

.contenedor-explicacion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--primario);
}

@media (min-width: 480px) { /* /480px cambia cuando es telefono/ */
    .contenedor-explicacion{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--primario);
    }
}

.contenedor-pasos{
    max-height: auto;
    max-width: 450px;
    margin: 22px;
    color: var(--blanco);
    text-align: justify;
    font-size: 17px;
}

.centrar{
    text-align: center;
}

.centrar-flex{
    display: flex;
    justify-content: center;
}

.separar-flex{
    display: flex;
    justify-content: space-around;
}


.codigo-uno{
    font-family: 'Quicksand', sans-serif;
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 16px;
    padding: 25px;
    border-radius: 1rem; /*Para tener las esquinas redondeadas*/
}

.codigo-dos{
    font-family: 'Quicksand', sans-serif;
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 16px;
    padding: 25px;
    border-radius: 1rem; /*Para tener las esquinas redondeadas*/
}

@media (min-width: 480px) { /* /480px cambia cuando es telefono/ */
    .codigo-uno{
        font-size: 18px;
    }
    .codigo-dos{
        font-size: 18px;
    }
}

.titulo-codigo{
    color: var(--black);
    /* width: 150px;  */
    text-align: center;
    font-weight: bold;
}

.titulo-explicacion{
    background-color: var(--cuarto);
    color: var(--primario);
    font-size: 35px;
    padding: 0;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
}

.codigo-uno:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: var(--quinto);
    font-weight: bold;
    color: var(--primario);
}

.codigo-dos:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: var(--quinto);
    font-weight: bold;
    color: var(--primario);
}

.texto-instrucciones{
    color: var(--quinto);
    font-weight: bold;
    font-size: 16px;
}

.fondo-main{
        background:linear-gradient(to bottom, var(--terciario) 0%, var(--cuarto) 100%); /*De arriba hacia abajo el 0% indica hasta abajo y el 100% hasta arriba */ 
}

.palabra-cuadro{
    max-width:auto;
    height:auto;
    padding:8px;
    margin: 5px;
    font-weight:bold;
    text-align: center;
    font-size: 12px;    
    background-color: var(--secundario);
    color: var(--quinto);
    border-radius: 1.5rem; /*Para tener las esquinas redondeadas*/
    
}

.explicacion-problema{
    font-size: 16px;
    color: var(--blanco);
    font-weight: bold;
    text-align: center;
}

@media (min-width: 480px) { /* /480px cambia cuando es telefono/ */
    .palabra-cuadro{
        width:300px;
        height:55px;
        padding:15px;
        margin: 5px;
        font-weight:bold;
        text-align: center;
        font-size: 22px;    
        background-color: var(--secundario);
        color: var(--quinto);
        border-radius: 2.5rem; /*Para tener las esquinas redondeadas*/
    }
    
}

.codigo{
    width:100%;
    text-align: center;
    margin:auto;
}

.separarCentrar-flex{
    display: flex;
    justify-content: space-around;
}

.cuadro-arreglo{
    max-width:auto;
    height:auto;
    padding:8px;
    margin: 5px;
    font-weight:bold;
    text-align: center;
    font-size: 12px;    
    background-color: var(--secundario);
    color: var(--quinto);
    border-radius: 1.5rem; /*Para tener las esquinas redondeadas*/
}

@media (min-width: 480px) { /* /480px cambia cuando es telefono/ */
    .cuadro-arreglo{
        width:auto;
        height:auto;
        padding:18px;
        margin: 5px;
        font-weight:bold;
        text-align: center;
        font-size: 22px;    
        background-color: var(--secundario);
        color: var(--quinto);
        border-radius: 2.5rem; /*Para tener las esquinas redondeadas*/
    }
    
}


/* This only changes this particular animation duration */
.animate__animated.animate__bounceInDown { /*El arreglo*/
    --animate-delay: 1s;
    --animate-duration: 2s;
} 
  
.animate__animated.animate__fadeInLeftBig { /*Primeras 2 Izquierda*/
      --animate-delay: 3.3s;
      --animate-duration: 3.5s; 
}
 
.animate__animated.animate__fadeInRightBig { /*Primeras 2 Derecha*/
    --animate-delay: 1.8s;
    --animate-duration: 2.5s; 
}

.animate__animated.animate__fadeInBottomRight { /*Primeras 1 prefijo izquierda*/
    --animate-duration: 1.8s; 
   
  }

.animate__animated.animate__fadeInBottomLeft { /*Primeras 1 prefijo derecha*/
    --animate-delay: 1.5s;
    --animate-duration: 1.5s; 
   
}

.animate__animated.animate__backInUp {      /*Prefijo Final*/
    --animate-delay: 1.5s;
    --animate-duration: 1.5s; 
   
}

.animate__animated.animate__pulse {      /*Prefijo Final*/
    --animate-delay: 2s;
    --animate-duration: 1.5s; 
   
}
.animate__animated.animate__shakeY {      /*Titulo*/
    --animate-delay: 2s;
    --animate-duration: 3s; 
   
}

.flex-uno{
    display: flex;
    justify-content: space-evenly;
}
.flex-centro{
    display: flex;
    justify-content: center;
}
.flex-final{
    display: flex;
    justify-content: end;
}
.flex-inicio{
    display: flex;
    justify-content: start;
}

