:root {       /*Custom properties O variables en CSS*/
    --primario: #001B48;    /*stratos*/       
    --secundario: #02457A;  /*regal blue*/
    --terciario: #018ABE;   /*bondi blue*/
    --cuarto: #97CADB;      /*morning glory*/
    --quinto: #D6E8EE;      /*botticelli*/
    --blanco: #FFFFFF;      /*blanco*/
    --negro: #000000;       /*negro*/
    --blanco2: #E1E0E0;
    --gris: #DFDFDF;
    --gris2: #C1C1C1;
    --amarillo: #FFE572;
    --amarillo2: #FFD51A;
    --amarillo3: #FFC61A;
    --rojo: #B60020;
    --rojo2: #F35A75;
}

.palabras{
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    margin-right: 50%;
}

.palabra-prefijo{
    display: flex;
    align-items: center;
    color: var(--primario);
    font-weight: bold;
    text-align: center;
}

#palabra1{
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-right: 0;
    margin-bottom: -2px;
}

#palabra2{
    margin-top: 1%;
    margin-left: 80px;
    margin-bottom: -2px;
}

#palabra5{
    margin-top: 3%;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 4%;
}

#final{
    align-items: center;
 }
 

#flechas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flecha1{
    color: var(--rojo);
    width: 16px;
    height: 16px;
    margin-top: 11px;
    border-top: solid 5px;
    border-right: solid 5px;
    animation-name: flecha;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    display: none;
    
}

.flecha1.derecha{
   transform: rotate(315deg);
}


.flecha2{
    color: var(--rojo);
    width: 16px;
    height: 16px;
    margin-top: 11px;
    border-top: solid 5px;
    border-right: solid 5px;
    animation-name: flecha;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    display: none;
}

.flecha2.derecha{
   transform: rotate(315deg);
}

@keyframes flecha{
    0% {opacity: 0; left: 0px; top: 100px}
    100%{opacity: 100; top:0px}
}



