/*
//*****************************************************************
//	Equipo: Numero 3: Los printF
//Cortés Coria Luis David 
//Cortés Lugo Arturo 
//Figueroa de la Torre Heidi Fernanda 
//Garcia Garcia Cano Ivan

//Curso: Análisis de algoritmos
//(C) Agosto-Enero 2021
//ESCOM-IPN
//Version 3.2

//Algoritmo de prefijo comun mas largo para solucion Divide and Conquer
//*****************************************************************
*/

.span1{
    color: #FFFFFF;
}

@keyframes parpadeo{
	from, to{border-color:transparent}
	50%{border-color:#FFFFFF}
}
@keyframes escribiendo{
	from{width:100%}
	to{width:0}
}
@-webkit-keyframes parpadeo{
	from, to{border-color:transparent}
	50%{border-color:#FFFFFF}
}
@-webkit-keyframes escribiendo{
	from{width:100%}
	to{width:0}
}
@-moz-keyframes parpadeo {
	from, to{border-color:transparent}
	50%{border-color:#FFFFFF}
}	
@-moz-keyframes escribiendo {
	from{width:100%}
	to{width:0}
}

.span1 span{
    position:absolute;
	top:0;
	right:0;
	width:0;
	background-color:#000000;
	border-left: .1em solid #FFFFFF;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	animation: escribiendo 5s steps(36, end), parpadeo 1s step-end infinite;
	-webkit-animation: escribiendo 5s steps(36, end), parpadeo 1s step-end infinite;
	-moz-animation: escribiendo 5s steps(36, end), parpadeo 1s step-end infinite;
}