:root {       /*Custom properties O variables en CSS*/
    --primario: #001B48;    /*stratos*/       
    --secundario: #02457A;  /*regal blue*/
    --terciario: #018ABE;   /*bondi blue*/
    --cuarto: #97CADB;      /*morning glory*/
    --quinto: #D6E8EE;      /*botticelli*/
    --blanco: #FFFFFF;      /*blanco*/
    --negro: #000000;       /*negro*/
    --blanco2: #E1E0E0;
    --gris: #DFDFDF;
    --gris2: #C1C1C1;
    --amarillo: #FFE572;
    --amarillo2: #FFD51A;
    --amarillo3: #FFC61A;
    --rojo: #B60020;
    --rojo2: #F35A75;
}

body{
    margin: 0;
    background-color: var(--terciario);
    font-family: 'Quicksand', sans-serif;
}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.navigation ul{
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    transition: all 0.2s linear;
    border-radius: 10px ;
    padding: 0.5rem 1rem;
}

    .navigation ul li a:hover{
        background: var(--terciario) ;
    }

h1{
    margin-left: 2%;
    color: var(--blanco);
}

h2{
    color: var(--blanco);
}

a{
    font-family: 'Quicksand', sans-serif;
    color: var(--blanco);
    text-decoration: none;
}

.header{
    background-color: var(--secundario);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    margin-top: 100px;
    color: var(--blanco);
}

.text p{
    margin-left: 2%;
}

.strings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}


.boton{
    margin: 40px;
    background-color: var(--gris2); 
    border: none;
    color: var(--primario);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: .3rem; /*Para tener las esquinas redondeadas*/
}

.boton:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: var(--amarillo3);
}

.entrada-texto{
    background-color: var(--blanco2);
    margin-top: auto;
    padding: 8px;
    width: 15%;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: var(--negro);
    border-radius: .5rem; /*Para tener las esquinas redondeadas*/
    border: none;
}


.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;

}
.contenedor-codigos{
    display: flex;
    justify-content: space-around;
    background-color: var(--cuarto);
    padding: 45px;
}

.contenedor-explicacion{
    background-color: var(--primario);
    display: flex;
    justify-content: space-around;
    background-color: var(--primario);
}

.contenedor-pasos{
    height: 100px;
    width: 450px;
    color: var(--blanco);
    text-align: justify;
}

.centrar{
    text-align: center;
}

.centrar-flex{
    display: flex;
    justify-content: center;
}


.codigo-uno{
    font-family: 'Quicksand', sans-serif;
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 18px;
    padding: 25px;
    border-radius: 1rem; /*Para tener las esquinas redondeadas*/
}

.codigo-dos{
    font-family: 'Quicksand', sans-serif;
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 18px;
    padding: 25px;
    border-radius: 1rem; /*Para tener las esquinas redondeadas*/
}

.titulo-codigo{
    color: var(--black);
    text-align: center;
    font-weight: bold;
}

.titulo-explicacion{
    background-color: var(--gris2);
    color: var(--primario);
    font-size: 35px;
    padding: 0;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
}

.codigo-uno:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: var(--quinto);
    font-weight: bold;
    color: var(--primario);
}

.codigo-dos:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: var(--quinto);
    font-weight: bold;
    color: var(--primario);
}

.texto-instrucciones{
    color: var(--quinto);
    font-weight: bold;
}