:root {       /*Custom properties O variables en CSS*/
    --primario: #001B48;    /*stratos*/       
    --secundario: #02457A;  /*regal blue*/
    --terciario: #018ABE;   /*bondi blue*/
    --cuarto: #97CADB;      /*morning glory*/
    --quinto: #D6E8EE;      /*botticelli*/
    --blanco: #FFFFFF;      /*blanco*/
    --negro: #000000;       /*negro*/
    --blanco2: #E1E0E0;
    --gris: #DFDFDF;
    --gris2: #C1C1C1;
    --amarillo: #FFE572;
    --amarillo2: #FFD51A;
    --amarillo3: #FFC61A;
    --rojo: #B60020;
    --rojo2: #F35A75;
}

/*CSS Globales*/
html{
    font-size: 62.5%;/*Se reinicia el doc html*/
    box-sizing: border-box; /*Para no tener tanto problema con el padding*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* https://fonts.google.com/specimen/Quicksand?query=quicksand#standard-styles */
body{
    font-size: 1.6rem; /* 1rem = 10px */ /*Esto sirve para que se adapte mejor los diseños en paginas web de TV, relojes, tablets, etc*/   /*Se adapta más a una gran cantidad de navegadores */
    font-family: 'Quicksand', sans-serif; 
    background:linear-gradient(to bottom, var(--terciario) -50%, var(--cuarto) 100%); /*De arriba hacia abajo el 0% indica hasta abajo y el 100% hasta arriba */ 
    /* background-repeat: no-repeat; */
    /* margin: 0;
    margin-bottom: 4rem;  */
}  
    
.contenedor {
    max-width: 120rem;
    width: auto;
    margin: 15rem auto;
    padding: 0;
}

/* Tipografia */
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}

/* Footer */
.footer{
    padding: 1rem;
    background-color: var(--primario);   
}
@media (min-width: 768px) {
    .footer{
        background-color: var(--primario);
        padding: 12px 0;
        margin-top: 0;
        bottom: 0;
        width: 100%;
        position: fixed;
        /* position: absolute; */
    }
}

.footer__texto{
    font-family: 'Quicksand', sans-serif; 
    text-align: center;
    font-size: 2rem;
    color: var(--blanco);
}


.header{
    background-color: var(--primario);
    padding: 2rem 0;
    margin-top: 0rem;
    font-family: 'Quicksand', sans-serif; 
    color: var(--blanco);
    display: flex;
    justify-content: center;
}


/*CSS para el menu principal*/

.contenedor-botones{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .tres-columnas{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        height: 630px;
        justify-items: center;
        /* display: flex;
        justify-content: space-around;
        align-items: center;
        height: 630px; */
        /* align-items: center;   */
    }

    .elemento-menu{
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.boton {
	box-shadow: 5px 6px 0px 0px #02457A;
	background:linear-gradient(to bottom, #02457A 5%, #018ABE 100%);
	background-color:#02457A;
	border-radius:5px;
	border:1px solid #018ABE;
	/* display:inline-block;  */
	cursor:pointer;
	color:#ffffff;
	font-family:'Quicksand', sans-serif; 
	font-size: 25px;
	font-weight:bold;
	font-style:italic;
	padding:18px 49px;
    margin: 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #018ABE;
    text-align: center;
}
.boton:hover {
	background:linear-gradient(to bottom, #018ABE 5%, #02457a 100%);
	background-color:#018ABE;
}
/* .boton:active {
	position:relative;
	top:1px;
}  */


.circulo{
    max-width: 40rem;
    height: 40rem;
    background-color: var(--quinto);
    border-radius: 100%;
}
.circulo > .imagen-circulo{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}


.boton:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: var(--quinto);
    font-weight: bold;
    color: var(--primario);
}

.texto-solucion{

    color: var(--primario);
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    margin-top: 0;
    
}

.imagen-prefijo{
    max-width: 360px;
    max-height: auto;
    padding: auto;
    margin-top: 3.3rem;
    border-radius: .5rem;
}

